@import "css/reset.css";
@import "css/aside.css";
@import "css/main.css";
@media all and (max-width: 768px) {
}

@media all and (min-width: 768px) {
}

body {
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
