@import "css/reset.css";
@import "css/aside.css";
@import "css/main.css";
@import "css/chat.css";
@import "css/setting.css";

@media all and (min-width: 600px) {
  #main_body{
    display: none;
  }
  #close {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 76px;
    background-color: aquamarine;
  }
}

@media all and (max-width: 600px) {
  #main_body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}

