@import "css/reset.css";
@import "css/aside.css";
@import "css/main.css";
@import "css/chat.css";
@import "css/setting.css";

@media all and (min-width: 560px) {
  body{
    visibility: hidden;
  }
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
